#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pimp
Comment=Jukebox mediaplayer for parties
Exec=pimp
Terminal=false
Icon=pimp
Type=Application
Categories=Application;AudioVideo;
