#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PyMpdJuke
Comment=Jukebox mediaplayer for parties
Exec=pympdjuke
Terminal=false
Icon=pympdjuke
Type=Application
Categories=Application;AudioVideo;
